<nav class="navbar navbar-default" role="navigation" aria-hidden="false">
    <ul role="menubar" data-bind="css: {'nav':true, 'navbar-nav':true, 'navbar-left':true}" >
      <li  data-bind="css: {active: ('Users' == $root.selectedLink())}" >
        <a role="menuitem" href="#Users"  data-bind="attr: { 'aria-selected': 'Users' == $root.selectedLink() }">Users</a>
      </li>
      
      <li  data-bind="css: {active: ('Forms' == $root.selectedLink())}" > 
        <a role="menuitem" href="#Forms" data-bind="attr: { 'aria-selected': 'Forms' == $root.selectedLink() }">Forms</a>
      </li>

      <li data-bind="css: {active: ('Table'== $root.selectedLink())}" > 
        <a role="menuitem" href="#Table"  data-bind="attr: { 'aria-selected': 'Table' == $root.selectedLink() }">Table</a>
      </li>
    </ul>
           
</nav>