<div aria-label="default document"
	role="document"
	class="tab-pane container"
	data-bind="hasFocus: $root.displayDefaultData(), if: $root.displayDefaultData(), attr:{'aria-hidden': !$root.displayDefaultData()}" id="default">
		<h1>
			<span class="part">The Basics: </span> 
			Incorporating Accessibility Early and Throughout
		</h1>
		<p>
			When accessibility is considered early and throughout  design, it can be seamlessly and elegantly integrated with overall product  design. Incorporating accessibility early decreases the time and money to  design accessible products and increases the positive impact that accessibility  can have on design overall.
		</p>	
	</div>