@import url(bootstrap.css);
@import url(font-awesome.css);
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  /* Space out the masthead */
  /* Remove the bottom border on the jumbotron for visual effect */
  .container {
    max-width: 730px; }
  .header, .marketing, .footer {
    padding-left: 0;
    padding-right: 0; }
  .header {
    margin-bottom: 30px; }
  .jumbotron {
    border-bottom: 0; } }
