/**
 * Variables to be used throughout the project
 */

// Fonts
$font-main: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-key: Georgia, 'Times New Roman' serif;

// <hr> color
$hr-color: #ccc;

// Text selection background color
$selection-color: #b3d4fc;

// Text Color
$main-color: #222;

// <header> bg color
$header-color : #18bc9c;

//body-backgroud-color
$body-backgroud-color : #f2f2f2;

//body-text-color
$body-text-color : #555;

$nav-active-color : #ce4747;

$nav-background-color : #2D2D2D;

$nav-bar-focus-color : #ff7878;
