@import "math";
@function luma($color){
    // Adapted from: https://github.com/LeaVerou/contrast-ratio/blob/gh-pages/color.js
    // Formula: http://www.w3.org/TR/2008/REC-WCAG20-20081211/#relativeluminancedef
    $rgba: red($color), green($color), blue($color);
    $rgba2: ();

    @for $i from 1 through 3 {
        $rgb: nth($rgba, $i);
        $rgb: $rgb / 255;

        $rgb: if($rgb < .03928, $rgb / 12.92, pow(($rgb + .055) / 1.055, 2.4));

        $rgba2: append($rgba2, $rgb);
    }

    @return .2126 * nth($rgba2, 1) + .7152 * nth($rgba2, 2) + 0.0722 * nth($rgba2, 3);
}

@function contrast_ratio($color1, $color2) {
    // Adapted from: https://github.com/LeaVerou/contrast-ratio/blob/gh-pages/color.js
    // Formula: http://www.w3.org/TR/2008/REC-WCAG20-20081211/#contrast-ratiodef
    $luminance1: luma($color1) + .05;
    $luminance2: luma($color2) + .05;
    $ratio: $luminance1 / $luminance2;

    @if $luminance2 > $luminance1 {
        $ratio: 1 / $ratio;
    }

    $ratio: round($ratio * 10) / 10;

    @return $ratio;
}

@function text-contrast($color, $bgcolor: $color) {
    $threshold: 4.5; // 4.5 = WCAG AA,7= WCAG AAA
    $list: 20 30 40 50 60 70 80 90 100;
    @each $percent in $list {
        $lighter: lighten($bgcolor, $percent);
        $darker: darken($bgcolor, $percent);
        $darker-ratio: contrast_ratio($color, $darker);
        $lighter-ratio: contrast_ratio($color, $lighter);
        @if($lighter-ratio > $darker-ratio){
            @if ($lighter-ratio > $threshold){
                @return $lighter;
            }
        }
        @if($darker-ratio > $lighter-ratio){
            @if ($darker-ratio > $threshold){
                @return $darker;
            }
        }
    }
    @return if(lightness($color) < 51, #FFF, #000)
}
