<!-- FOOTER -->
<div id="f">
  <div class="container">
    <div class="row centered">
      <a href="#" class="foc-footer-icon" title="Click here to go to Twitter page" ><em class="fa fa-twitter"></em></a><a href="#" class="foc-footer-icon" title="Click here to go to Facebook page" ><em class="fa fa-facebook"></em></a><a href="#" class="foc-footer-icon" title="Click here to go to Dribble page" ><em class="fa fa-dribbble"></em></a>

    </div><!-- row -->
  </div><!-- container -->
</div><!-- Footer -->


<!-- MODAL FOR CONTACT -->
<!-- Modal -->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="assets/vendor/boostrap/javascript/bootstrap.min.js"></script>
</body>
</html>
