
<link rel="stylesheet" type="text/css" href="assets/vendor/fluid-project/videoPlayer/lib/infusion/framework/fss/css/fss-layout.css" />
<link rel="stylesheet" type="text/css" href="assets/vendor/fluid-project/videoPlayer/lib/infusion/framework/fss/css/fss-text.css" />
<link rel="stylesheet" type="text/css" href="assets/vendor/fluid-project/videoPlayer/lib/infusion/components/uiOptions/css/fss/fss-theme-bw-uio.css" />
<link rel="stylesheet" type="text/css" href="assets/vendor/fluid-project/videoPlayer/lib/infusion/components/uiOptions/css/fss/fss-theme-wb-uio.css" />
<link rel="stylesheet" type="text/css" href="assets/vendor/fluid-project/videoPlayer/lib/infusion/components/uiOptions/css/fss/fss-theme-by-uio.css" />
<link rel="stylesheet" type="text/css" href="assets/vendor/fluid-project/videoPlayer/lib/infusion/components/uiOptions/css/fss/fss-theme-yb-uio.css" />
<link rel="stylesheet" type="text/css" href="assets/vendor/fluid-project/videoPlayer/lib/infusion/components/uiOptions/css/fss/fss-text-uio.css" />
<link rel="stylesheet" type="text/css" href="assets/vendor/fluid-project/videoPlayer/lib/infusion/components/uiOptions/css/FatPanelUIOptions.css" />

<link type="text/css" href="assets/vendor/fluid-project/videoPlayer/lib/jquery-ui/css/ui-lightness/jquery-ui-1.8.14.custom.css" rel="stylesheet" />
<link type="text/css" href="assets/vendor/fluid-project/videoPlayer/css/VideoPlayer.css" rel="stylesheet" />
<link type="text/css" href="assets/vendor/fluid-project/videoPlayer/lib/captionator/css/captions.css" rel="stylesheet" />
<!--[if lt IE 9]>
<link type="text/css" href="assets/chart/fluid-project/videoPlayer/css/ltie9.css" rel="stylesheet" />
<![endif]-->

<!-- Fluid and jQuery Dependencies -->
<script type="text/javascript" src="assets/vendor/fluid-project/videoPlayer/lib/infusion/MyInfusion.js"></script>
<!-- Utils -->
<script type="text/javascript" src="assets/vendor/fluid-project/videoPlayer/lib/jquery-ui/js/jquery.ui.button.js"></script>
<script type="text/javascript" src="assets/vendor/fluid-project/videoPlayer/lib/captionator/js/captionator.js"></script>
<script type="text/javascript" src="assets/vendor/fluid-project/videoPlayer/lib/mediaelement/js/mediaelement.js"></script>
<!-- VideoPlayer dependencies -->
<script type="text/javascript" src="assets/vendor/fluid-project/videoPlayer/js/VideoPlayer_framework.js"></script>
<script type="text/javascript" src="assets/vendor/fluid-project/videoPlayer/js/VideoPlayer_showHide.js"></script>
<script type="text/javascript" src="assets/vendor/fluid-project/videoPlayer/js/VideoPlayer.js"></script>
<script type="text/javascript" src="assets/vendor/fluid-project/videoPlayer/js/VideoPlayer_html5Captionator.js"></script>
<script type="text/javascript" src="assets/vendor/fluid-project/videoPlayer/js/VideoPlayer_controllers.js"></script>
<script type="text/javascript" src="assets/vendor/fluid-project/videoPlayer/js/ToggleButton.js"></script>
<script type="text/javascript" src="assets/vendor/fluid-project/videoPlayer/js/MenuButton.js"></script>
<script type="text/javascript" src="assets/vendor/fluid-project/videoPlayer/js/VideoPlayer_media.js"></script>
<script type="text/javascript" src="assets/vendor/fluid-project/videoPlayer/js/VideoPlayer_transcript.js"></script>
<script type="text/javascript" src="assets/vendor/fluid-project/videoPlayer/js/VideoPlayer_intervalEventsConductor.js"></script>
<script type="text/javascript" src="assets/vendor/fluid-project/videoPlayer/js/VideoPlayer_uiOptions.js"></script>
